.note {
    font-size: 1.8rem;
    color: #444;
    background-color: #eee;
    padding: 1.6rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.note-content {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
}

.note-button-container {
    padding: 2.4rem;
    align-self: center;
}

.note-date a:link,
.note-date a:visited {
    color: #5a5aec;
}

.note-date a:hover,
.note-date a:active {
    color: #ff7d7b;
}

@media screen and (max-width: 630px) {
    .note {
        flex-direction: column;
    }
    .note-content {
        width: 100%;
    }
}